<% provide(:title, 'Inicio') %>
<!DOCTYPE html>
<html>
  <body>
    <div class="center hero-unit">
      <h1>Bienvenidos</h1>
      <h2>Esta es la página de inicio de <a href="http://emol.com/">Sueños Colectivos</a></h2>


      <div class="center">
        <%= link_to "Regístrate", signup_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Postula tu idea", new_idea_path, class: "btn btn-large btn-primary" %>
      </div>

      <div class="hero-unit table-responsive">
        <table class="table table-bordered center">
          <tr>
            <td>Categorías</td>
            <td>Ideas</td> 
          </tr>
          <tr>
            <td>
              <div class="">
                <%=  @categories = Category.all 

                select_tag "category_list[]", options_from_collection_for_select(@categories, "id", "description") %>
              </div> 
            </td>
            <td>
              <div class="">
                <%=  @ideas = Idea.all         
                 select_tag "idea_list[]", options_from_collection_for_select(@ideas, "id", "description"), :onchange => idea_path("seleccionar id") %>
              </div>
            </td> 
          </tr>
        </table>
      </div>
      <div>
        <%= link_to image_tag("prueba.png", alt: "Rails", :width => 100, :height => 64), home_path %>
      </div>

    </div>
  </body>
</html>