<% provide(:title, "Ingresa") %>
<h1>Ingresa con tu nombre de usuario y contraseña</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password %>

      <%= f.submit "Inicia sesión", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>¿Nuevo en Sueños Colectivos? <%= link_to "Regístrate ahora", signup_path %></p>
  </div>
</div>