<%= form_for(@idea) do |f| %>
<% @pos_places = @idea.possible_places %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> No se permitió guardar esta idea:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción"%><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :possible_places, "Lugares postulados" %><br>
    <%= f.text_field :possible_places %>
  </div>
  <div class="field">
    <%= f.label :max_assistance, "Asistencia máxima" %><br>
    <%= f.number_field :max_assistance %>
  </div>
  <div class="field">
    <%= f.label :min_assistance, "Asistencia mínima" %><br>
    <%= f.number_field :min_assistance %>
  </div>
  <div class="field">
    <%= f.label :possible_dates, "Fechas postuladas" %><br>
    <%= f.date_field :possible_dates %>
  </div>
  <div class="field">
    <%= f.label :max_cost, "Costo máximo" %><br>
    <%= f.number_field :max_cost %>
  </div>
  <div class="field">
    <%= f.label :min_cost, "Costo mínimo" %><br>
    <%= f.number_field :min_cost %>
  </div>
  <div class="actions">
    <%= f.submit "Postular" %>
  </div>
<% end %>
