<%= form_for(@idea) do |f| %>
<% @pos_places = @idea.possible_places %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> No se permitió guardar esta idea:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Idea" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción"%><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :possible_places, "Lugar" %><br>
    <%= f.text_field :possible_places %>
  </div>
  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
<% end %>
