<% provide(:title, 'Ideas') %>
<h1>Listado de ideas</h1>

<div class="table-responsive">
  <table class="table table-bordered center">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Idea</th>
        <th>Descripcion</th>
        <th>Lugar</th>
        <th>Fecha creación</th>
        <% if signed_in? %>            
          <th colspan="4">Opciones</th>
          <% else %>
          <th colspan="3">Opciones</th>
        <% end %>
        <th>Total de Likes</th>
      </tr>
    </thead>

    <tbody>
      <% @ideas.each do |idea| %>
        <tr>
          <td><%=  %></td>
          <td><%= idea.title %></td>
          <td><%= idea.description %></td>
          <td><%= idea.possible_places %></td>
          <td><%= idea.creation_date %></td>
          <td><%= link_to 'Ver', idea %></td>
          <td><%= link_to 'Editar', edit_idea_path(idea) %></td>
          <td><%= link_to 'Eliminar', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% if signed_in? %>
            <td><%= link_to 'Like', give_like_path(:id => idea.id) %></td>
          <% end %>
          <td><%= IdeaLike.where(:idea_id => idea.id).size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Crea tu idea', new_idea_path, class: "btn btn-sm" %>
