<p id="notice"><%= notice %></p>

<p>
  <strong>Idea:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @idea.possible_places %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @idea.creation_date %>
</p>

<%= link_to 'Editar', edit_idea_path(@idea) %> |
<%= link_to 'Atrás', ideas_path %>
