<h1>Listing tenders</h1>

<table>
  <thead>
    <tr>
      <th>Producer company</th>
      <th>Idea</th>
      <th>Place</th>
      <th>Price</th>
      <th>Event date</th>
      <th>Max capacity</th>
      <th>Min capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenders.each do |tender| %>
      <tr>
        <td><%= tender.producer_company.name %></td>
        <td><%= tender.idea.title %></td>
        <td><%= tender.place %></td>
        <td><%= tender.price %></td>
        <td><%= tender.event_date %></td>
        <td><%= tender.max_capacity %></td>
        <td><%= tender.min_capacity %></td>
        <td><%= link_to 'Show', tender %></td>
        <td><%= link_to 'Edit', edit_tender_path(tender) %></td>
        <td><%= link_to 'Destroy', tender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tender', new_tender_path %>
