<h1>Listing producer_types</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producer_types.each do |producer_type| %>
      <tr>
        <td><%= producer_type.tipo %></td>
        <td><%= link_to 'Show', producer_type %></td>
        <td><%= link_to 'Edit', edit_producer_type_path(producer_type) %></td>
        <td><%= link_to 'Destroy', producer_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producer type', new_producer_type_path %>
